body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

.app {
  background: #d3d3d3;
  height: 100vh;
  color: #121212;
}

.dark .app {
  background: #121212;
  color: #efefef;
}

.toolbar {
  background: #efefef;
    margin:0;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    padding: 5px;
}

.dark .toolbar {
  background: #191919;
}

.toolbar h2 {
    margin: 0;
    font-size: 14pt;
    padding: 0;
    line-height: 40px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .toolbar h2 {
      max-width:200px;
    }
    .content {
      padding: 5px;
    }
  }