.panel {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background: #efefef;
  flex-grow: 1;
}

.dark .panel {
  background: #171717;
}

.panel .controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 20px;
}

.panel .controls label {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.panel .svg {
  flex-grow: 1;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .panel {
    flex-direction: column;
    margin: 5px;
  }
}